<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="DBEndpointUri" value="https://uber-app.documents.azure.com:443/" />
        <add key="DBPrimaryKey" value="UwmX8EtbqPVt623Df5qF2CuTR3NiyX3zPyoZchSnnX6OAGamNyfWPtDdbIPAobPsg9R7ozsdxZTWkmIQPVYs6A==" />
        <add key="MapboxAccessToken" value="pk.eyJ1IjoicmNhbXBiMjciLCJhIjoiY2t0ajJvbnc2MTdydjJvcW5hYzhhbG9qaiJ9.IElatfLFvnK-MnrJyp67sQ" />
    </appSettings>
</configuration>