@using Microsoft.JSInterop
@using UberApp.Data
@inject IJSRuntime JSRuntime

<div id="mapid" style="height: 100%; width: 100%;"></div>

@code {
    string elementId = $"map-{Guid.NewGuid().ToString("D")}";
    
    [Parameter] public double Zoom { get; set; }
    [Parameter] public List<Marker> Markers { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        Markers = new List<Marker>
        {
            new Marker {Description = "Test1", ShowPopup = true, X = 41.951157, Y = -87.651512},
            new Marker {Description = "Test2", ShowPopup = true, X = 41.932844, Y = -87.658722}
        };

        await JSRuntime.InvokeVoidAsync(
            "deliveryMap.showOrUpdate",
            elementId,
            Markers);
    }
}
